<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression">
  <test name="TC001_Login">
    <classes>
      <class name="com.test.automation.MastekBlanketPOM.login.TC001_Login"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
